
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body{
       
	/*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

@media (min-width:1572px){
	body{
		font-size:20px;
	}
	#wrapper {
		padding-left: 340px !important;
	}
	.title1 {
		font-size:30px;
	}
	.pageHeading {
		font-size: 24px !important;
	}
	.panel-heading{
		font-size: 20px !important;
	}
	
	/*Nav*/
	.side-nav{
		width:340px !important;
	}
	.side-nav>li>a {
		width:340px !important;
	}
	
	.mainSection h4{
		font-size: 30px !important;
	}
	.mainSection p{
		font-size:25px !important;
	}
	
	.btn .view{
		font-size:35px !important;
	}
	.sct .select{
	font-size:35px !important;
}
.vw .view{
	font-size:35px !important;
}
	.container1{
		font-size:20px !important;
	}
	.container2{
		 !important;
	}
	
	
}

.navbar-toggle{
	float: left !important;
	margin-left: 15px !important;
}

.navbar-nav{
	width: 324px;
}



#throbber {
	display:none; 
	min-height:120px;
}

#wrapper {
    padding-left: 0;
	

}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
	margin-top:75px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 0px 10px;
    }
}

.navbar-inverse {
	height:75px;
	padding-top:10px;
    background-color: #FFFFFF;
    border-color: #080808;
}

.logo{
height:100%;	
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000;
	font-size:16px;
  border: 1px solid #00A79C;
	background-color: #f1f1f1;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color: #fff;
  font-size: 16px;
  background-color: #00A79C !important;

}
@media(min-width:768px) {
.navbar-inverse .navbar-nav>li>a {
	font-size:100%;
}
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
	background-color: #5FC4B8 !important;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 75px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        color: #000;
        background-color: #f1f1f1;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(255,255,255,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
    }
	
	.signout-li{
		display:none !important;
	}
	
	.li-img img{
		width:100%;
		height:auto;
		padding:0 30%;
	}
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px 1px rgba(255,255,255,1) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color:#fff;
	background-color: #00A79C;
}

.side-nav>li>ul>li>a:hover {
    color: #00A79C;
	background-color: #ddd;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
  color:#000;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}
@media(max-width:320px) {
.navbar-brand {
    width: 50%;
}
	
		.verticalLine{
		height: 1px !important;
	}
	
}


 .nav-img {
  -moz-border-radius: 0;
  -webkit-border-w: 0;
  border-radius: 0;
  cursor: pointer;
}
  
.nav-img img{
  height: 24px;
  margin-right: auto;
  margin-bottom: -3px;
  vertical-align:text-bottom;
}

.text-a{
	padding-left:10px;
}

.btnHeadMenu{
	margin:0 10px 0 0;
}

.btnSignout{
    background-color: #3FB435;
    border-radius: 20px 20px 20px 20px;
    color: #ffffff;
	margin:15px 0 10px 0;
    width: 100% !important;
    text-align: center;
}

@media (max-width: 767px){
.btnSignout{
	display:none;
   }
.signout-li{
	display:block;
}
.li-img img{
		width:90%;
		height:auto;
		padding:0 30%;
	}   
}
	


/*  End of navigation */




#page-wrapper .row {
    margin-right: -25px;
    margin-left: -25px;
}.page-header{
	padding-bottom: 9px;
	padding-top: 9px;
    margin: 0px 0 20px;
}
.headingWrapper{
	background-color:#f5f5f5;
	/*border-top: 1px solid #000;*/
}
.headingWrapper-no-border{
	background-color:#f5f5f5;
}
.headingWrapper-border-bottom{
	background-color:#f5f5f5;
	border-bottom: 2px solid #bbb;
}
.pageHeading{
	padding:10px 10px 10px;
	font-size:16px;
}
.panelHead{
	padding-bottom:70px;
}
.panelHead1{
	float: left;
}
.panelHead2{
	float: right;
}

@media (max-width: 767px){
.pageHeading{
	margin-left:20px;
   }
}

.container-fluid .jumbotron  {
	border-radius:0px;
}
.bg-white{
	background-color:#FFFFFF;
}


.aMessages{
	background-color:#f0f0f0;
	border-radius:15px;
	padding:10px 10px 10px 10px;
}
.mainSection .btn{
    background-color: #3FB435;
	color:#FFFFFF;
	border-radius:10px;
}
.mainSection .btn:hover{
    color:#bbb;
}
@media (min-width: 768px){
.row .btn{
	margin-top:20px;
}
.sct .select{
	float:left;
}
.vw .view{
	float:;
}
}

.mainSection h4{
	font-size:16px;
}
.mainSection p{
	font-size:14px;
}

@media (max-width: 767px){
.aMessages{
	padding:10px 10px 20px 20px;
}
.mainSection{
	margin:0 10% 0 15%;
}
.mainSection .col-sm-2{
	display:inline-block;
	margin-top:15px;
	margin-bottom:25px;
}
.div-up .col-sm-2{
	display:block;
	margin-top:0px;
	margin-bottom:auto;
}
}

@media (max-width: 200px){
.mainSection .col-sm-2{
	margin-bottom:0px;
}
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 450px;
}

/* ************************************     Form Styling - modal *******************************   */

.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 5px;
}

.modal-content {
    margin:5% auto auto auto;
    width: 50%;
	border-radius:0px;
	border:none;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 1024px) {
	.modal-content {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.modal-content {
		width: 70%;
	}
}
@media screen and (max-width: 425px) {
	.modal-content {
		width: 85%;
	}
}
@media screen and (max-width: 375px) {
	.modal-content {
		width: 90%;
	}
}
@media only screen and (max-width: 320px) {
	.modal-content {
		width: 95%;
	}
}

/*  -----  for the popups contents  -----  */

.reminder-popup-heading{
	background-color:#dcdcdc;
	color:#FFFFFF;
	font-size:20px;
	padding:10px 10px 20px 2px;
}
.reminder-popup-heading .btn{
	background-color:#f00;
	border-radius:50%;
	font-weight:bold;
	font-size:20px;
}
.reminder-popup-bottom{
	color:#FFFFFF;
	font-size:20px;
	padding:0px 10px 10px 2px;
}
.reminder-popup-bottom .btn{
	background-color:#3FB435;
	border-radius:10px;
	font-weight:bold;
}
.popupBody{
	margin:10%;
}
.mainSection input, .mainSection textarea,.mainSection select, .popupBody textarea, 
.popupBody select, .ad select{
	border-color:#000;
	border-radius:0px;
}
.popupBody select{
	height:40px;
}
.popup-info, .jumbotron .pageInfo, .pageInfo{
	font-size:14px;
}

/* range slider  */

.slidecontainer {
    width: 100%;
}
#viewer {
    font-weight:bold;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #333;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


/*   for the toggle buttons  */
input[type="checkbox"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
  -webkit-appearance: button;
  border: none;
  background: url(http://www.pixelslip.be/img/check.png) no-repeat 0 0
    transparent;
  background-color: #ccc;
  width: 90px;
  height: 40px;
  border-radius: 3px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  transition: background-color 1s;
}

input[type="checkbox"].box{
    display: inline;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-top: 5px;
  background-color: #ccc;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  padding: 5px;
}

input[type="checkbox"].error {
  background-color: #aaa;
  margin-right:15px;
}
input[type="checkbox"]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 80%;
  background-color: #fdfdfd;
  margin: 4%;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(243, 243, 243, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#ffffff",
      endColorstr="#f3f3f3",
      GradientType=0
    );

  transition: 0.5s all;
}

input[type="checkbox"]:checked {
  background-color: #05877A;
  margin-right:15px;
}

input[type="checkbox"]:checked:after {
  left: 45%;
}


.ad table, .ad th, .ad td {
    border: 1px solid black;
    border-collapse: collapse;
}
.ad th, .ad td {
    padding: 15px;
}

/*    Get started pages             */
.reduced-w{
	width:60%;	
}
.reduced-w2{
	width:90%;	
}
.div-up{
	margin-top:-20px;
}


/*    send   messages             */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.tab_container h1 {
	color: #ccc;
	text-align: center;
}

.tab_container a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Tab begins*/
.tab_container {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.tab_container input, .tab_container section {
  clear: both;
  display: none;
}

.tab_container label {
  display: block;
  float: left;
  width: 33.33%;
  min-height:60px;
  font-weight:400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #fcfcfc;
  padding:8px 0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  background: #fff;
  color: #000;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: 0px 4px #3FB435;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

.tab_container label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}
.tab_container section{
	padding:10px;
}
.tab_container .like{
	border:1px solid #000;
	padding:5px;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  .tab_container label span {
    font-size: 14px;
  }
  .tab_container label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .tab_container label span {
    display: none;
  }

  .tab_container label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}

/*         end    send messages      */



/*   --- reward rules   ----- */
#mainDiv{
	margin:0 3% 0 5%;
}

#reward_rules{
	margin-top:-20px;
}
#reward_rules .btn {
	margin-left:7%;
}
.rwl-img{
	width:70%;
	margin-left:15%;
}
.rules  ul {
      font-size: 3.5em; 
      line-height: 40px;
	  color:#05877A;
	  margin-top:20px;
}
.rules ul span {
      font-size: 22px; 
      vertical-align: middle;
	  color:#000;
}

/*  ---  send email   ----  */
#sendEmail form{
	margin-left:13px;
}
#sendEmail label, #beaconMsgs label, #beaconMsgs select, #beaconMsgs input{
	font-weight:400;
}

/*  ---  beacon messages  ----  */
hr.hrL {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.hrL:after {
	content:;
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.text-danger{
	color:#f00;
}
#required{
	padding-left:100px;
}
 #beaconMsgs select, #beaconMsgs input[type=text],
 #sendEmail textarea,#sendEmail input[type=text],#sendEmail input[type=email]{
	 width:70%;
 }
 #sendEmail input[type=submit], #demo-g input[type=submit], #beaconMsgs input[type=submit]{
	 padding:5px 15px;
	 font-weight:bold;
	 background:#e5e5e5;
	 color:#000;
 }
@media (min-width: 768px) and (max-width: 1020px) {
  #required{
  	padding-left:0px;
  }
}



/*  ---  Reward  webpage  ----  */
.bg-white .media-body{
	font-size:16px;
}
.jumbotron .pageInfo2{
	font-size:15px;
}
.rw-imgs{
	padding:0 5%;
}
.rw-imgs img{
	width:100%;
}
#rewardWebpage .jumbotron,#visitBasedrewards .jumbotron{
	background:none;
}
#rewardWebpage{
	background:#2CBDB1;
}
#rewardWebpage .media{
	background-color:#FFFFFF;
	padding:20px;
}


/*  ---  Demographics  webpage  ----  */
.subHeading{
	padding-bottom: 9px;
	padding-top: 9px;
    margin: -20px 0 -20px;
	background-color:#ccc;
}
.subHeading2{
	padding:10px;
	background-color:#ccc;
}
.subHeading p{
	padding:10px 30px 10px;
	font-size:20px;
}
#back,#next{
	background-color: #3FB435;
	border-radius: 15px 15px 15px 15px;
	color: #ffffff;
	font-size:18px;
	padding: 5px 15px 5px 15px;
}
.genderbtn .btn-default{
	width:70px;
	border-radius:0px;
	border:none;
	background-color:#efefef !important;
	color:#000;
}
.genderbtn .btn-default.men{
	border-left:1px solid #444;
	border-right:1px solid #444;
	margin-right:1px;
}
#demo-g,#bottom-nav{
	background-color:#ccc;
}
@media (min-width: 768px) and (max-width: 1020px) {
#demo-g .col-sm-5,#demo-g .col-sm-7{
	display:contents;
}
}
.location{
	background-color:#efefef;
    margin-left: -50px;
	padding:10px 50px;
    /*width: 120%; */
	}
/*	
@media (max-width: 767px){
	.location{
	 width: 130%;
}
}
*/


/*  ---  Visits based rewards  ----  */

#visitBasedrewards,#visitBasedrewards #main, #vbr #page-wrapper{
	background-color:#f5f5f5;
}
@media screen and (min-width: 768px){
#visitBasedrewards, #visitBasedrewards.container-fluid .jumbotron{
	padding:10px;
}
#offer2,#vsb{
	border-left:3px solid #aaa;
}
}
 
#visitBasedrewards .subHeading{
	padding:10px;
}
#visitBasedrewards .bordered{
	border-bottom:1px solid #999;
	padding-bottom:20px;
}
#visitBasedrewards h3{
	font-size:17px;
}
#visitBasedrewards .mainSection .btn{
	background-color:inherit;
	margin-top:10px;
	font-size:12px;
}
.upd{
	background-color:#007bff !important;
}
.mainSection .btn.dng{
	border:2px solid #f00;
	color:#f00;
	padding:1px 5px;
}
.mainSection .btn.sccs{
	border:2px solid #3FB435;
	color:#3FB435;
	padding:1px 5px;
}
.mainSection .btn.dft{
	border:2px solid #6c757d;
	color:#6c757d;
	padding:1px 5px;
}
#offer2 .col-sm-6{
	margin-top:10px;
}
@media (min-width: 768px) and (max-width: 1240px) {
#offer1,#offer2{
	display:contents;
}
}


/*  ---  Ad overview  ----  */

.ad{
	margin-top: -68px;
}
.stacked{
	background-color:#e5e5e5;
	border:1px solid #333;
	padding:10px;
}
.stacked2{
	background-color:#e5e5e5;
	border:1px solid #333;
	padding:3px;
}
.ad .text-success{
	color:#3FB435;
}
#feed{
	background-color:#e5e5e5;
}
@media (min-width: 768px) and (max-width: 1020px) {
#feed{
	display:contents;
}
#feed .col-sm-4,#audience{
	width:100%;
}
}
.tab-content .media img{
	width:100px;
}
.feed-img{
	width:100%;
	margin-bottom:10px;
}




/*  ---  Customer  loyalty  ----  */

.stores-cl{
	width:40%;
}
.full-img{
	width:100%;
}
#def-img{
	width:120px;
}
@media (min-width: 768px) {
.cp-info{
	border-right:1px solid #aaa;
}
}
@media (min-width: 768px) and (max-width: 1020px) {
	.b1{
		display:block;
	}
}
.cp-info a{
	text-decoration:underline;
}
.cl-title{
	background:#e5e5e5;
	padding:10px;
}


/*         payment modal */

.padding-sn{
	padding: 10px;
}
.padding-sm{
	padding: 20px;
}
.btnTablet{
	background-color: #12a89d;
    color: #fff;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    width: 90%;
    font-size: 15px;
    margin: 5px;
}
.btnMobApp{
	background-color: #0f75bd;
    color: #fff;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    width: 90%;
    font-size: 15px;
    margin: 5px
}
.btnPricingTablet, .btnPricingMobApp{
	color: #fff;
    border: 0px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    margin: 5px 5px 0px 0px;
    border-radius: 0px;
}
.btnPricingTablet{
	background-color: #12a89d;
}
.btnPricingMobApp{
	background-color: #0f75bd;
}
.btnPt{
    background-color: #fff;
    border: 1px solid #05877a;
    color: #05877a;
    font-weight: 600;
}
.btnCrtRwd{
	background-color: #8cc63e;
    color: #fff;
    width: 100%;
}
.btnVNMRwd{
	background-color: #3b68c3;
	color: #fff;
	width: 100%;
}
.btnEditRwd{
	background-color: #00a69c;
    color: #fff;
    width: 100%;
}
.btnCrtNextRwd{
	background-color: #4fb55f;
    color: #fff;
    width: 100%;
}
.btnAddLctn{
	background-color: #05877A;
	color: #fff;
	border-radius: 20px;
}

.mini-header{
	background-color: #e5e5e5;
}
.strip-a, .strip-b{

	padding: 3px;
	width: 100%;
	border-radius: 1px;
	margin: 5px 5px 0px 0px;
}
.strip-a{
	background-color: #12a89d;
}
.strip-b{
	background-color: #0f75bd;
}
.tick-nm-a, .tick-nm-b{
	margin: 0px 0px 0px 50px !important;
}
.tick-nm-a{
	color: #12a89d;
}
.tick-nm-b{
	color: #0f75bd;
}
.tableTick{
	background-color: #f5f5f5;
	border-right: 5px solid #fff;
}
.txt-paragraph{
	line-height: 2;
	margin-bottom: 20px;
}
.txt-paragraph-a{
	line-height: 1.1;
}
.btn-wrapper{
	padding: 1px;
}
.col-btnGroup-a{
	margin-bottom: 30px;
}
.mini-wrapper-b{
	padding: 5px;
}
.timeOperation{
	text-align: center;
    line-height: 2.6;
    margin-top: -25px;
}
.image-wrapper-sm{
	width: 80%;
    /* left: 104%; */
    margin-top: 10px;
    /* padding: 4px; */
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width: 769px){
	.txt-paragraph-a{
		line-height: 2.5;
    	width: 100%;
	}
	.btnPt {
	    width: 100%;
	}
	.btn-wrapper-main{
		width: 100%;
	}
	.btnEdit-b, .btnDeactivate-b, .btnDuplicate-b, .btnQR-b {
	    font-size: 14px;
	}
	.btnDeactivate {
		width: 100%
	}
	.container-b {
	    margin-top: 60px;
	} 
	
	.btnUpload-a {
	    font-size: 12px;
	}
	.btnUpload-a {
	    width: 95%;
	    border: 1px solid #8a8a8a;
    }
    .bizLogoTxt {
	    width: 95%;
	    float: left;
	    margin-top: 40px;
	}
	.signUpTxt {
	    font-size: 20px;
	}
	.btnDelete {
    	margin-top: 5px !important;
	}
	.strip-a , .strip-b {
	    display: none;
	}
	.container-demo {
	    margin-top: 100px;
	}
	.mini-header {
	    background-color: #e5e5e5;
	    padding: 3px;
	    text-align: center;
	}

}
@media (max-width: 500px){
	.col-btnGroup-a {
	    width: 100%;
	}
}
@media (max-width: 1280px){
	.mini-wrapper-main{
		width: 100%;
	}
}
.wrapper-i{
	width: 8%;
    float: left;
    margin: -1px;
}
.tr-bg-grey{
	background-color: #e5e5e5;
    text-align: center;
    height: 30px;
}
.tr-bg-white{
	background-color: #fff;
    text-align: center;
    height: 30px;
}
.btnApprove{
	border-radius: 20px;
	color: #fff;
	background-color: #0071b7;
	margin-top: -5px !important;
    margin-bottom: 10px !important;
    padding: 5px;
}
.btnDelete{
	background-color: #ff0000;
	border-radius: 20px;
	color: #fff;
	margin-top: -5px !important;
    margin-bottom: 10px !important;
    padding: 5px;
}
.btnDemo{
	background-color: #52b966 !important;
	color: #fff;
	width: 100%;
	border-radius: 3px;
}



.mini-header-modal{
	text-align: center;
	padding: 10px;
	font-weight: 600;
}
/*.modalHeader{
	background-color: #e5e5e5;
}*/
.modalHeaderTablet{
	background-color: #12a89d;
	color: #fff;
}
.modalHeaderApp{
	background-color: #0f75bd;
	color: #fff;
}


#payment-modal {
		width: 90%;
		padding-left:3%;
		padding-right:3%;
	}
@media screen and (max-width: 1024px) {
	#payment-modal .modal-content {
		width: 80%;
	}
}
@media screen and (max-width: 768px) {
	#payment-modal .modal-content {
		width: 70%;
	}
}
@media screen and (max-width: 425px) {
	#payment-modal .modal-content {
		width: 85%;
	}
}
@media screen and (max-width: 375px) {
	#payment-modal .modal-content {
		width: 90%;
	}
}
@media only screen and (max-width: 320px) {
	#payment-modal .modal-content {
		width: 95%;
	}
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 18px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.imgPhoneAppMain{
    background-image: url(../imgs/app-phone-new.png);
    height: 400px;
    background-color: #fff;
    width: 215px;
    background-size: cover;
}
.imgPhoneApp{
    background-image: url(../imgs/app-phone-qr-code.png);
    background-size: cover;
    height: 400px;
    height: 400px;
    background-color: #fff;
    width: 215px;
}
.wrapperImgBiz{
    background-image: url(../imgs/img-app-bg.jpg);
    background-size: cover;
    width: 185px;
    height: 60px;
    display: inline-flex;
    margin: 0px 0px 0px 5px;
}
.wrapperLogoPhone{
    margin-top: 100px;
    display: inline-flex;
}
.bizNameImg{
    margin: 12px 1px 12px 5px;
}
.bizNameTxt{
    background-color: #fff;
    color: #000;
    padding: 3px;
    font-size: 10px;
    margin: 12px 0px 0px 0px;
    width: 135px;
    height: 35px;
}
.newRwdMain{
    background-color: #00a79c;
    margin: 0px 13px 0px 20px;
    min-width: 182px;
    height: 40px;
}
.newRwdMain-lower{
    background-color: #00a79c;
    margin:  2px 13px 0px 20px;
    min-width: 182px;
}
.newRwdMain-1{
    width: 55px;
    text-align: center;
    background-color: #fff;
    font-size: 6px;
    padding: 4px;
    border: 2px solid #00a79c;
    font-weight: 700;
    display: inline-block;
}
.newRwdMain-2{
    width: 90px;
    font-size: 10px;
    display: inline-block;
    color: #fff;
}
.newRwdMain-3{
    width: 20px;
    display: inline-block;
    color: #fff;
}
.bizBtnn{
	background-color: #ffad1d;
}
.sndBtnn{
	background-color: #8cc63e;
}
.rwdBtnn{
	background-color: #5fc4b8 ;
}
.ntfBtnn{
	background-color: #4e74b9;
}
.phoneTxt{
    display: inline-flex;
    /*font-size: 11px;*/
    width: 185px;
    margin: 0px 0px 0px 17px;
    font-size: 9px;
    padding: 0px;
}
.lockedTxt{
    width: 30%;
    color: #ff0000;
}
.earnRwdTxt{
    width: 70%;
}
.tableApp{
    font-size: 7px;
    width: 185px;
    margin: 2px 10px 2px 17px;
    border: 1px solid #000;
}
.tableCellApp{
    border: 1px solid #a5a5a5;
    text-align: center;
    padding: 2px;
    font-size: 6px;
}
.smallMenu{
    display: inline-flex;
    border: 1px solid #00a79c;
    width: 185px;
    margin: 3px 0px 0px 5px;
    padding: 2px;
    border-radius: 20px;
}
.smallMenu-a{
    font-size: 9px;
    padding: 0px 8px 0px 8px;
    text-align: center;
    width: 50px;
}
.pageLinksApp{
    font-size: 7px;
    width: 185px;
    margin: 0px 0px 0px 19px;
    padding: 2px;
}
.pageLinksApp-1{
    margin: 2px;
    border-radius: 3px;
    padding: 1px;
    color: #fff;
}
.pageLinksApp-1a{
    background-color: #ffad1d;
}
.pageLinksApp-1b{
    background-color: #8bc541;
}
.pageLinksApp-1c{
    background-color: #00A79C;
}
.pageLinksApp-1d{
    background-color: #337ab7;
}
.btnShHidden{
    color: #fff;
    background-color: #8BC34A;
    border-radius: 30px;
}
.btnExport{
    background-color: #f09b00;
    color: #fff;
    padding: 10px;
}
.biznameLogo{
    text-align: center;
    padding: 15px;
}
.padding-10{
    padding: 10px;
}
.padding-5{
    padding: 5px;
}
.margin-bottom-85{
    margin-bottom: 85px;
}
#timeWrapper{
    /*display: none;*/
}
.underline{
    text-decoration: underline;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}
.four-digit-code{
    width: 20%;
    text-align: center;
    display: inline-block;
    padding: 0px;
    min-width: 40px;
}
.min-300{
    min-width: 300px;
}
.form-control{
    font-size: 90%;
    height: 40px !important;
    border-radius: 10px;
}
input[type=text], select, textarea {
    border-radius: 10px !important;
}
.btnPreviewRwd{
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #00a79c;
    width: 100%;
    color: #fff !important;
    margin-left: 0px;
    margin: 5px;
}
.btnCreateRwd{
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #8cc63e;
    width: 100%;
    color: #fff !important;
    margin-left: 0px;
    margin: 5px;
}
.deactivate-btn, .deactivate-btn:hover, .deactivate-btn:focus {
    color: #ac5240;
    border-color: #ac5240;
    background-color: #fff;
    width: 100px;
    border-radius: 20px;
    margin: 0px !important;
    font-size: 17px;
}
.duplicate-btn, .duplicate-btn:hover, .duplicate-btn:focus {
    color: #3fb435;
    border-color: #3fb435;
    background-color: #fff;
    width: 100px;
    border-radius: 20px;
    margin: 0px !important;
    font-size: 17px;
}
.code-4{
    text-align: center;
    font-size: 30px;
    color: red;
    letter-spacing: 0.5em;
}
.font-weight-600{
    font-weight: 600;
}
.rwdDescrpn{
    font-size: 22px !important;
    padding: 15px !important;
    height: 50px !important;
}
.acc_holder_photo{
    width: 40px;
    float: right;
    padding: 2px;
    font-size: 30px;
}
.acc_main{
    /*float: right; */
    display: inline-flex;
    margin-top: 10px;
}
.acc_holder_name{
    width: 200px;
    text-align: right;
    font-size: 15px;
}
.red{
    color: red;
}
.chk-txt{
    float: right;
    padding: 0px;
}
#offer_wrapper{
    display: none;
}
.btnEditOffer{
    background-color: #3367d6;
    border-radius: 30px;
    color: #fff;
    width: 100px;
    margin: 0px !important;
    padding: 6px;
    font-size: 17px;
}
.btnCrtOffer{
    background-color: #3FB435;
    border-radius: 30px;
    color: #ffffff;
    margin: 0px 0px 0px 0;
    width: 90% !important;
    text-align: center;
    padding: 8px;
    font-size: 17px;
    min-width: 150px;
}
.wrapper-user{
    width: 350px;
    float: right;
}
@media (max-width: 768px){
    .wrapper-user {
        width: 150px;
        float: right;
    }
    .acc_holder_name{
        display: none;
    }
}
@media (max-width: 425px){
    .wrapper-user {
        width: 45px;
        float: right;
        margin-top: -55px;
    }
}