@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
    margin: 0;
    /*font-family:  'Roboto';font-size: 22px;*/
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
}

.contentWrapper {
    float: right;
    width: 70% !important;
}

@media(max-width:425px) {

    .verticalLine {
        height: 1px !important;
    }
}

@media(min-width:768px) {
    body {
        margin-top: 0px;
    }

    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
    .title1 {
        margin-top: 50px;
        padding-left: 10px
    }
}

.my_font {
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
}

#wrapper {
    padding-left: 0;
}

#topin {
    display: none;
    min-height: 120px;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #ffffff;
}

#contact {
    padding-left: 20px;
}

#col {
    padding-top: 10px;
}

#page {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
}

#page-wrapper .row {
    margin-right: 0px !important;
    margin-left: 2px !important;
}

.page-header {
    .content {
        /*float: left;
        width: 300px !important;
        margin-top: 100px;*/
        float: right;
        width: 90% !important;
        margin-top: 100px;
    }
}

/*Checkbox*/
/* The container */
.container1 {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark1 {
    position: absolute;
    top: 9px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid grey;
}

/* On mouse-over, add a grey background color */
.container1:hover input~.checkmark1 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked~.checkmark1 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked~.checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark1:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Radio buttons*/
.container2 {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input~.checkmark2 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked~.checkmark2 {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked~.checkmark2:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.Qn {
    padding-left: 20px;
    background-color: #F2F2F2;
}

.Qn1 {
    padding: 20px;
    background-color: #F2F2F2 !important;
}

.Qn2 {
    padding: 5px;
    padding-left: 20px;
}

.title1 {
    margin-top: 50px;
    padding-left: 15px
}

.img {
    width: 100px;
    float: left;
    padding-right: 60px;

}

.icongreen {
    font-size: 20px;
    color: green;
}

.icongray {
    font-size: 30px;
    color: gray;
}

#bgcolor {
    background-color: #F2F2F2;
}

#bgcolor1 {
    background-color: #e6e6e6;
}

.search5 * {
    box-sizing: border-box;
}

/* vertical line*/
.hr {

    border: none;
    border-left: 1px solid grey;
    height: 100vh;
    width: 1px;
}

.verticalLine {
    border-left: thick solid #f1f1f1;
    height: 300px;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* Style tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #4a4a4d;
    width: 100%;
    padding: 8px;

}

th,
td {
    padding: 10px 15px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 15px;
}

table th {
    font-weight: bold;
}

table td,
table th {
    padding: 9px 10px;
    text-align: center;
}

thead {
    background: #f1f1f2;

    color: #404041;
    font-size: 13px;

}

th:first-child {

    text-align: left;
}

th:last-child {}

tbody tr:nth-child(even) {
    background: #f0f0f2;
}

td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}

td:first-child {
    border-left: 1px solid #cecfd5;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #404041;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #404041;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.search-bar {
    padding: 10px;
    margin-top: 50px;
    float: right;

}

/*icon bar*/
.icon-bar {

    background-color: #eeeded;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #404041;
    font-size: 15px;
}

.icon-bar a:hover {
    background-color: #fff;
}

.active {
    background-color: #e6e6e6 !important;
}



/*sWITCH tOGGLE*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00a99d;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Buttons*/
.button {
    background-color: #0071bc;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 5px;

}

.buttonsave1 {
    color: #fff;
    background-color: #00A79C;
    font-size: 16px;
}

.buttonqr {
    text-algin: center;
    font-size: 25px;
    color: white;
    background-color: #4A92DB;
    margin: 0 auto;
    border: none;
    float: right;
}

.buttonr {
    text-algin: center;
    font-size: 20px;
    color: white;
    background-color: #4A92DB;
    margin: 0 auto;
    border: none;
    float: left;
}

.button1 {
    border-radius: 2px;
}

.button2 {
    border-radius: 4px;
}

.button3 {
    border-radius: 12px;
}

.button4 {
    border-radius: 25px;
}

.button5 {
    border-radius: 50%;
}


/* Forms*/
* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #808080;
    border-radius: 4px;
    resize: vertical;
    background-color: #f2f2f2;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #0071bc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.padding {
    padding: 20px;
}

.imgpad {
    padding: 5px;
}

.entry {
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    text-align: left;
}

.comment {
    font-size: 10px;
}

.btnSaveForm {
    background-color: #8CC63E;
    color: #ffffff;
    border-radius: 4px;
    width: 300px;
    border-radius: 20px;
}

.btnsendc {
    background-color: #8CC63E;
    color: #ffffff;
    border-radius: 4px;
    width: 100px;
    border-radius: 20px;
}

.btnView {
    background-color: #39b54a;
    color: #fff
}

.btncreate {
    background-color: #0071bc;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 4px;
}

.btnsaveup {
    float: right;
}

.btnsaveup2 {
    padding-right: 50px;
    margin-right: 20px;
}

/*    send   messages             */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.tab_container h1 {
    color: #ccc;
    text-align: center;
}

.tab_container a {
    color: #ccc;
    text-decoration: none;
    outline: none;
}

/*Tab begins*/
.tab_container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.tab_container input,
.tab_container section {
    clear: both;
    display: none;
}

.tab_container label {
    display: block;
    float: left;
    width: 33.33%;
    min-height: 60px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #fcfcfc;
    padding: 8px 0;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block;
    background: #fff;
    color: #000;
    border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: 0px 4px #3FB435;
}

.tab_container [id^="tab"]:checked+label .fa {
    color: #0CE;
}

.tab_container label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

.tab_container section {
    padding: 10px;
}

.tab_container .like {
    border: 1px solid #000;
    padding: 5px;
}

/*Media query*/
@media only screen and (max-width: 930px) {
    .tab_container label span {
        font-size: 14px;
    }

    .tab_container label .fa {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .tab_container label span {
        display: none;
    }

    .tab_container label .fa {
        font-size: 16px;
    }

    .tab_container {
        width: 98%;
    }
}


/*CALENDAR*/
[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none;
}

* {
    box-sizing: border-box;
}


.buttons-container {
    position: absolute;
    bottom: 15px;
    right: 0;
    height: 40px;

}

.cancel-button,
.save-button {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 2px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.cancel-button {
    background: white;
    color: #0DAD83;
}

.save-button {
    background: #0DAD83;
    color: white;
}

/* Datepicker Stuff */
.datepicker {
    position: relative;
    width: 100%;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    transition: background 0.15s ease;
}

.datepicker.am {
    background: white;
}

.datepicker.pm {
    background: #0DAD83;
}

.datepicker-header {
    width: 100%;
    color: white;
    overflow: hidden;
}

.datepicker-title {
    width: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-align: left;
    font-size: 20px;
}

.datepicker-subheader {
    width: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    padding: 0 15px;
    text-align: right;
}

.datepicker-calendar {
    // background: white;
    width: 50%;
    float: left;
    padding: 20px 15px 15px;
    max-width: 400px;
    display: block;
}

.calendar-header {
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    position: relative;
}

.current-month-container {
    display: inline-block;
    height: 30px;
    position: relative;
}

.goback,
.goforward {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -4px;
}

.goback path,
.goforward path {
    transition: stroke 0.15s ease;
}

.goback {
    float: left;
    margin-left: 3.8%;
}

.goforward {
    float: right;
    margin-right: 3.8%;
}

.calendar-day-header {
    width: 100%;
    position: relative;
}

.day-label {
    color: #8A8A8A;
    padding: 5px 0;
    width: 14.2857142%;
    display: inline-block;
    text-align: center;
}

.datecontainer {
    width: 14.2857142%;
    display: inline-block;
    text-align: center;
    padding: 4px 0;
}

.datenumber {
    max-width: 35px;
    max-height: 35px;
    line-height: 35px;
    margin: 0 auto;
    color: #8A8A8A;
    position: relative;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: all .25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
}

.no-hover .datenumber,
.no-hover .datenumber:hover,
.no-hover .datenumber:before,
.no-hover .datenumber:hover::before {
    cursor: default;
    color: #8A8A8A;
    background: transparent;
    opacity: 0.5;
}

.no-hover .datenumber.day-selected {
    color: white;
}

.datenumber:hover {
    color: white;
}

.datenumber:before {
    content: '';
    display: block;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    z-index: -1;
    background: transparent;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    transition: all .25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
    transition-property: background, transform, color, border;
}

.datenumber:hover::before {
    background: #FFAB91;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.day-selected {
    color: white;
}

.datenumber.day-selected:before {
    background: #FF6E40;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-animation: select-date .25s forwards;
    -moz-animation: select-date .25s forwards;
    animation: select-date .25s forwards;
}

@-webkit-keyframes select-date {
    0% {
        background: #FFAB91;
    }

    100% {
        background: #FF6E40;
    }
}

@keyframes select-date {
    0% {
        background: #FFAB91;
    }

    100% {
        background: #FF6E40;
    }
}

/* timepicker styles */
.timepicker-container-outer {
    width: 50%;
    max-width: 700px;
    float: left;
    display: block;
    padding: 40px 30px 30px;
    position: relative;
    top: 50px;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    transition: background 0.15s ease;
}

.timepicker-container-inner {
    width: 100%;
    height: 100%;
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.timeline-container {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 36px;
}

.current-time {
    display: block;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: -25px;
    left: -20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.current-time::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background: #FF6E40;
    transition: all 0.15s ease;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 20px 20px 3px 20px;
    z-index: -1;
    top: 0;
}

.actual-time {
    color: white;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    transition: all 0.15s ease;
}

.timeline {
    display: block;
    z-index: 1;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
}

.timeline::before,
.timeline::after {
    content: '';
    display: block;
    width: 2px;
    height: 10px;
    top: -6px;
    position: absolute;
    background: #0DAD83;
    left: -1px;
    transition: background 0.15s ease;
}

.timeline::after {
    left: auto;
    right: -1px;
}

.hours-container {
    display: block;
    z-index: 0;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 31px;
    left: 1px;
}

.hour-mark {
    width: 2px;
    display: block;
    float: left;
    height: 4px;
    background: #0DAD83;
    position: relative;
    margin-left: calc((100% / 12) - 2px);
    transition: background 0.15s ease;
}

.hour-mark:nth-child(3n) {
    height: 6px;
    top: -1px;
}

.display-time {
    width: calc(60% - 30px);
    display: block;
    margin-top: 30px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    float: left;
    position: relative;
    font-size: 20px;
    text-align: center;
    transition: color 0.15s ease;
}

.decrement-time,
.increment-time {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    top: 6px;
    font-size: 20px;
}

.decrement-time {
    left: 0;
    text-align: left;
}

.increment-time {
    right: 0;
    text-align: right;
}

.increment-time path,
.decrement-time path {
    transition: all 0.15s ease;
}

.time {
    width: calc(100% - 48px);
    position: relative;
    left: 24px;
    height: 36px;

    &:after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: white;
        left: 0;
        right: 0;
        opacity: 0.5;
        transition: all 0.15s ease;
    }
}

.time.time-active:after {
    display: none;
}

.time-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    line-height: 34px;
    bottom: 2px;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    color: white;
    font-size: inherit;
    opacity: 0;
    transition: all 0.15s ease;
    cursor: pointer;

    &:focus,
    &:active {
        outline: none;
    }
}

.formatted-time {
    cursor: pointer;
}

.time-input:focus {
    cursor: auto;

    &~.formatted-time {
        border-radius: 2px;
        background: #0DAD83;
        color: white;
        cursor: default;
    }
}

.am-pm-container {
    width: 40%;
    padding-left: 15px;
    float: right;
    height: 36px;
    line-height: 36px;
    display: block;
    position: relative;
    margin-top: 30px;
}

.am-pm-button {
    width: calc(50% - 5px);
    height: 36px;
    line-height: 36px;
    background: #2196F3;
    text-align: center;
    color: white;
    border-radius: 4px;
    float: left;
    cursor: pointer;
}

.am-pm-button:first-child {
    background: #0DAD83;
    color: white;
}

.am-pm-button:last-child {
    background: white;
    color: #0DAD83;
    margin-left: 10px;
}

@-webkit-keyframes select-date-pm {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }

    100% {
        background: #FFF;
    }
}

@keyframes select-date-pm {
    0% {
        background: rgba(255, 255, 255, 0.5);
    }

    100% {
        background: #FFF;
    }
}


.datepicker.am {
    .datepicker-header {
        color: white;
        background: #0DAD83;
    }

    .current-time::after {
        background: #0DAD83;
    }

    .actual-time {
        color: white;
    }

    .display-time {
        color: #FF6E40;
    }

    .time-input {
        color: #FF693C;
    }

    .time:after {
        background: #FF693C;
    }

    .increment-time path,
    .decrement-time path {
        stroke: #FF693C;
    }
}

.datepicker.pm {
    .datepicker-header {
        background: white;
        color: #FF693C;
    }

    .datepicker-subheader {
        color: #0DAD83;
    }

    .goback:before,
    .goback:after,
    .goforward:before,
    .goforward:after {
        background: white;
    }

    .day-label {
        color: white;
    }

    .datenumber {
        color: white;
    }

    .datenumber:hover::before {
        background: rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .datenumber.day-selected {
        color: #FF693C;
    }

    .datenumber.day-selected:before {
        background: white;
        -webkit-animation: select-date-pm .25s forwards;
        -moz-animation: select-date-pm .25s forwards;
        animation: select-date-pm .25s forwards;
    }

    .current-month-container {
        color: white;
    }

    .current-time::after {
        background: white;
    }

    .actual-time {
        color: #FF6E40;
    }

    .display-time {
        color: white;
    }

    .timeline::before,
    .pm .timeline::after {
        background: white;
    }

    .hour-mark {
        background: white;
    }

    .am-pm-button:last-child {
        color: #FF6E40;
    }

    .cancel-button {
        background: none;
        color: white;
    }

    .save-button {
        background: white;
        color: #FF693C;
    }

    .goback path,
    .goforward path {
        stroke: white;
    }

    .time-input:focus~.formatted-time {
        background: white;
        color: #FF693C;
    }
}

.datepicker.compact {

    .datepicker-title,
    .datepicker-subheader {
        width: 100%;
        text-align: center;
    }

    .datepicker-title {
        height: 50px;
        line-height: 50px;
    }

    .datepicker-subheader {
        height: 30px;
        line-height: 30px;
    }

    .display-time {
        width: 60%;
        font-size: 20px;
        line-height: 36px;
    }

    .app-container {
        width: 100%;
    }

    .datepicker-calendar {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .timepicker-container-outer {
        width: 100%;
        margin: 0 auto;
        float: none;
        top: -15px;
    }

    .buttons-container {
        position: relative;
        float: right;
    }
}





/*RESPONSIVENESS*/


@media (min-width: 1200px) {

    .container {
        margin-top: 100px;
        width: 100% !important;
        padding: 0px !important;
    }

    .title1 {
        padding-left: 10px
    }
}

@media (min-width: 1024px) {

    .container {
        margin-top: 100px;
        width: 100% !important;
        padding: 0px !important;
    }

    .contentWrapper {
        float: right;
        width: 68% !important;
    }

    .title1 {
        padding-left: 10px
    }
}

@media (min-width: 768px) {

    .container {

        width: 100% !important;
        padding: 0px !important;
    }

    .contentWrapper {
        width: 95% !important;

        background-color: #ffffff;

    }

    #imgreport {
        padding-right: 80px;
    }

    #imgupload {
        width: 60%
    }

    #contact {
        padding-left: 20px;
    }

    .title1 {
        padding-left: 15px
    }

    .entry {
        justify-content: center;
        width: 100%;
        padding-left: 10px;
        text-align: left;
    }

    #wrapper {
        padding-left: 265px;
        margin-top: 2px;
    }

    #wrapper-nml {
        padding-left: 0px;
        margin-top: 2px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }

    .title1 {
        padding-left: 15px;
        font-size: 20px;
    }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    #contact {
        padding-left: 30px;
    }

    .entry {
        justify-content: center;
        width: 100%;
        padding-left: 10px;
    }

    .btnSaveForm {
        background-color: #8CC63E;
        color: #ffffff;
        border-radius: 4px;
        width: 100%;
        border-radius: 20px;
    }

    .title1 {
        padding-left: 15px
    }

}

@media only screen and (max-width: 768px) {
    .contentWrapper {
        /*float: left;
        width: 300px !important;
        margin-top: 100px;*/
        float: right;
        width: 90% !important;

    }
}

@media only screen and (min-width: 2560px) {
    body {
        font-size: 25px;
    }

    th,
    td {
        font-size: 30px !important
    }

    .title1 {
        font-size: 30px;
    }

    #diff-panel-body {
        height: 160px !important;
    }
}