h1 {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.panel {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}
.panel-heading {
    background-color: #e5e5e5;
    background-image: none;
    border-radius: 0;
    color: #4b4b4b;
    padding: 16px;
    font-size: 16px;
}
.panel-body {
    background-color: #f3f3f3;
}
.stats {
    border-right: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}
.stats:last-of-type {
    border: none;
}

      .axis text {
        font-family: 'Playfair Display', serif;
        font-size: 10pt;
      }
      .axis .label {
        font-size: 40pt;
      }

      .axis path, .axis line {
        fill: none;
        stroke: #ccc;
        shape-rendering: crispEdges;
      }
      .y.axis path, .y.axis line {
        stroke: none;
      }

      .tooltip {
        font-family: 'Playfair Display', serif;
        font-size: 24pt;

        /* This trick adds a heavy white shadow around the text. */
        text-shadow:
          0px 0px 6px white,
          0px 0px 6px white,
          0px 0px 6px white,
          0px 0px 6px white,
          0px 0px 6px white,
          0px 0px 6px white,
          0px 0px 6px white,
          0px 0px 6px white,
          0px 0px 6px white;

        /* This eliminates the possibility of flickering tooltips. */
        pointer-events: none;
      }
      div#barChart.bg svg g rect {
        fill: green;
      }
.bg h1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
  circle {
        fill: #13a89e;
      }

      circle:hover {
        stroke: white;
        stroke-width: 0.5px;
      }

      .d3-tip {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        line-height: 1;
        padding: 7px;
        background: black;
        color: lightgray;
        border-radius: 20px;
      }
      .d3-tip .n{
         position: absolute;
         opacity: 0;
         pointer-events: none;
         top: 237.83px;
         left: 459.861px;"
      }
}
.panel-body {
	height: 100px;
}
.table>thead>tr>th {
  text-align: center;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  text-align: center;
}
/*--svg g rect {
  fill:green;
}--*/
div#date-picker form {
  margin: 20px;
}
svg {
  margin-bottom: 20px;
}
canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
  #diff-row {
    height: 100px;
  }
  #diff-panel-body {
    height: 120px;
  }
div#pie-chart.col-sm-10.col-xs-12 {
  margin-top: -90px;
}
#grouped.col-sm-4.col-xs-12 {
  font-weight: bold;
}

@media only screen and (min-width: 2560px){	
	#diff-panel-body{
		height: 160px;
	}
}